.grid-container{
    display:inline-grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    padding: 10px;
   
  }


.grid-item,.grid-item10
 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 1px;
    text-align: center;
    
  } 


.grid-item10{
grid-column: 1 / span 3;

}